In [1]:
import requests
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [3]:
season_list = [
    '2013-14',
    '2014-15',
    '2015-16',
    '2016-17',
    '2017-18',
    '2018-19',
    '2019-20',
    '2020-21',
    '2021-22',
    '2022-23',
    '2023-24'
]

In [4]:
# yearly player stats
dfs = []
per_mode = "PerGame"
# for loop to loop over seasons
for season_id in season_list:
    print("Now working on "+season_id+ " season")
    player_info_url = "https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode={}&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={}&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight=".format(per_mode, season_id)
    # json response
    response = requests.get(url=player_info_url, headers=headers).json()
    # pulling just the data we want
    df = pd.DataFrame(response['resultSets'][0]['rowSet'], columns=response['resultSets'][0]["headers"])
    df["season_id"] = season_id
    dfs.append(df)

Now working on 2013-14 season
Now working on 2014-15 season
Now working on 2015-16 season
Now working on 2016-17 season
Now working on 2017-18 season
Now working on 2018-19 season
Now working on 2019-20 season
Now working on 2020-21 season
Now working on 2021-22 season
Now working on 2022-23 season
Now working on 2023-24 season

In [5]:
player_stats_df = pd.concat(dfs, sort=False)
#player_stats_df.count()

In [6]:
current_season_df = player_stats_df.loc[player_stats_df['season_id'] == "2023-24"]
current_season_df

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,season_id
0,1630639,A.J. Lawson,A.J.,1610612742,DAL,23.0,19,10,9,0.526,10.0,1.6,3.5,0.470,0.6,1.7,0.333,0.6,0.8,0.733,0.5,0.8,1.3,0.5,0.5,0.5,0.1,0.3,0.7,0.5,4.4,2.5,8.1,0,0,8.0,341,282,327,247,380,332,341,214,289,309,261,332,333,311,325,421,409,424,368,290,391,257,425,396,335,100,374,189,19,366,2023-24
1,1631260,AJ Green,AJ,1610612749,MIL,24.0,26,19,7,0.731,7.9,1.2,2.7,0.429,1.0,2.3,0.417,0.2,0.2,1.000,0.2,0.6,0.8,0.6,0.0,0.0,0.0,0.0,0.9,0.2,3.4,1.0,5.4,0,0,5.9,280,135,377,55,413,386,389,333,218,240,68,443,465,1,443,458,464,398,490,464,444,460,404,468,375,171,434,189,19,415,2023-24
2,1631100,AJ Griffin,AJ,1610612737,ATL,20.0,15,7,8,0.467,8.4,0.8,2.7,0.300,0.6,2.0,0.300,0.1,0.1,1.000,0.1,0.7,0.9,0.3,0.4,0.1,0.1,0.1,0.4,0.1,2.3,-1.9,3.8,0,0,4.3,377,320,358,317,406,435,392,485,282,268,333,448,468,1,461,437,461,476,392,459,421,396,473,485,429,371,467,189,19,453,2023-24
3,203932,Aaron Gordon,Aaron,1610612743,DEN,28.0,36,23,13,0.639,31.9,5.7,10.2,0.554,0.6,1.9,0.299,2.2,3.5,0.622,2.7,3.9,6.6,3.2,1.4,0.8,0.5,0.7,1.8,3.2,14.1,6.0,29.5,7,0,27.2,146,63,219,134,71,86,118,75,296,292,340,98,68,400,19,108,56,106,129,141,138,86,214,60,101,23,90,41,19,103,2023-24
4,1628988,Aaron Holiday,Aaron,1610612745,HOU,27.0,38,19,19,0.500,16.7,2.3,5.3,0.431,1.2,2.9,0.396,0.6,0.7,0.885,0.3,1.6,1.8,1.6,0.7,0.5,0.1,0.3,1.4,0.8,6.3,1.1,11.9,0,0,12.0,102,135,105,266,275,268,255,326,176,199,115,326,356,65,418,330,356,224,277,290,415,288,280,310,263,164,309,189,19,297,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,1628380,Zach Collins,Zach,1610612759,SAS,26.0,31,5,26,0.161,26.1,4.9,10.0,0.495,1.1,3.5,0.312,2.0,2.5,0.792,1.9,4.1,6.0,3.3,2.3,0.6,0.8,0.5,3.4,2.6,12.9,-7.0,26.8,2,0,26.0,223,377,28,475,150,116,124,150,195,159,322,112,115,207,47,96,70,103,46,239,67,161,4,89,121,504,118,103,19,114,2023-24
522,203897,Zach LaVine,Zach,1610612741,CHI,28.0,25,10,15,0.400,34.9,6.8,15.0,0.452,2.4,6.8,0.349,3.5,4.1,0.854,0.3,4.8,5.2,3.9,2.1,0.8,0.3,0.8,2.3,2.8,19.5,-3.7,33.0,1,0,33.2,290,282,179,361,24,59,55,280,45,32,234,51,53,105,397,63,98,81,66,139,242,65,107,77,57,449,68,137,19,60,2023-24
523,1630192,Zeke Nnaji,Zeke,1610612743,DEN,23.0,34,25,9,0.735,9.7,1.2,2.5,0.476,0.1,0.4,0.333,0.7,1.1,0.641,1.1,1.0,2.1,0.5,0.6,0.2,0.6,0.4,1.5,1.6,3.2,-3.3,8.4,0,0,7.7,175,40,327,48,384,382,406,187,389,427,261,280,264,393,133,393,329,425,313,396,118,196,262,175,381,435,368,189,19,377,2023-24
524,1630533,Ziaire Williams,Ziaire,1610612763,MEM,22.0,39,15,24,0.385,18.8,2.8,7.0,0.397,1.2,3.5,0.328,1.1,1.3,0.808,0.7,2.7,3.4,1.3,1.2,0.6,0.2,0.5,1.6,1.4,7.8,-4.6,15.0,1,0,15.3,70,222,41,377,252,235,195,402,177,160,289,212,225,178,235,194,218,257,151,249,296,143,236,191,222,467,262,137,19,245,2023-24
525,1629627,Zion Williamson,Zion,1610612740,NOP,23.0,34,20,14,0.588,30.3,8.6,14.8,0.586,0.1,0.3,0.333,4.6,6.9,0.660,1.8,3.9,5.8,4.7,2.6,1.0,0.4,1.7,2.6,5.0,21.9,2.5,37.4,5,0,35.2,175,108,197,186,91,22,57,53,406,453,261,27,14,382,58,105,74,59,33,96,200,2,65,19,37,98,45,58,19,52,2023-24

In [7]:
# yearly team stats
dfs = []
per_mode = "PerGame"
# for loop to loop over seasons
for season_id in season_list:
    print("Now working on "+season_id+ " season")
    team_info_url = "https://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&Height=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode={}&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={}&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=".format(per_mode, season_id)
    # json response
    response = requests.get(url=team_info_url, headers=headers).json()
    # pulling just the data we want
    df = pd.DataFrame(response['resultSets'][0]['rowSet'], columns=response['resultSets'][0]["headers"])
    df["season_id"] = season_id
    dfs.append(df)

Now working on 2013-14 season
Now working on 2014-15 season
Now working on 2015-16 season
Now working on 2016-17 season
Now working on 2017-18 season
Now working on 2018-19 season
Now working on 2019-20 season
Now working on 2020-21 season
Now working on 2021-22 season
Now working on 2022-23 season
Now working on 2023-24 season

In [8]:
team_stats_df = pd.concat(dfs, sort=False)
#team_stats_df.count()

In [9]:
current_season_df = team_stats_df.loc[team_stats_df['season_id'] == "2023-24"]
#current_season_df

In [10]:
season_list = [
    '2022-23',
    '2023-24'
]

In [19]:
from nba_api.stats.static import players

player_dict = players.get_active_players()
id_player_pairs = dict([(player['id'], player['full_name']) for player in player_dict])
player_ids = [pair for pair in id_player_pairs]
#len(player_ids)

In [49]:
all_gamelogs[228]

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG
0,2022-23,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022201228,2023-04-09T00:00:00,LAL vs. UTA,W,33.221667,13,25,0.520,8,14,0.571,2,2,1.000,1,5,6,6,2,1,1,1,0,2,36,20,56.2,0,0,60.0,1,1,1,1,42,13,12,26,2,1,7,42,48,1,18,43,46,28,37,14,8,26,1,49,12,6,16,19,3,7,1
1,2022-23,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022201212,2023-04-07T00:00:00,LAL vs. PHX,W,29.350000,6,19,0.316,3,7,0.429,1,2,0.500,0,6,6,6,5,0,0,2,1,1,16,11,27.2,0,0,31.0,1,1,1,1,52,53,42,54,12,19,13,48,48,45,36,35,46,28,6,34,26,46,13,54,54,17,55,19,3,54,1
2,2022-23,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022201196,2023-04-05T00:00:00,LAL @ LAC,L,35.098333,13,20,0.650,4,6,0.667,3,5,0.600,0,8,8,7,6,1,1,0,0,4,33,-10,53.1,0,0,56.0,1,31,31,31,31,13,38,5,7,27,2,35,26,41,36,13,22,24,3,14,8,1,1,31,16,47,21,19,3,14,1
3,2022-23,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022201186,2023-04-04T00:00:00,LAL @ UTA,W,38.466667,14,27,0.519,3,10,0.300,6,6,1.000,0,5,5,6,5,1,1,0,2,5,37,-7,53.0,0,0,55.0,1,1,1,1,10,8,5,27,12,6,22,14,22,1,36,43,52,28,6,14,8,1,27,24,9,43,22,19,3,15,1
4,2022-23,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022201171,2023-04-02T00:00:00,LAL @ HOU,W,29.350000,8,18,0.444,1,7,0.143,1,1,1.000,2,8,10,11,1,0,1,0,1,1,18,23,48.5,1,1,42.0,1,1,1,1,52,42,48,38,31,19,44,48,55,1,8,13,7,1,47,34,8,1,13,54,51,2,31,1,1,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2023-24,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022300127,2023-11-01T00:00:00,LAL vs. LAC,W,42.483333,13,19,0.684,4,8,0.500,5,10,0.500,0,12,12,7,4,1,2,0,3,6,35,6,64.9,1,0,64.0,1,1,1,1,1,3,12,3,3,5,7,11,2,31,22,2,2,20,10,14,2,1,35,5,3,14,4,1,3,2,1
34,2023-24,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022300111,2023-10-30T00:00:00,LAL vs. ORL,W,32.783333,7,17,0.412,2,6,0.333,3,4,0.750,0,3,3,4,5,3,1,0,0,2,19,5,35.6,0,0,36.0,1,1,1,1,29,27,21,32,16,13,24,24,24,16,22,35,36,35,3,4,7,1,1,29,29,16,31,12,3,29,1
35,2023-24,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022300100,2023-10-29T00:00:00,LAL @ SAC,L,39.083333,11,19,0.579,3,8,0.375,2,6,0.333,0,15,15,8,8,0,0,0,2,3,27,-5,49.0,1,0,53.0,1,20,20,20,5,10,12,13,8,5,22,27,16,35,22,1,1,14,1,28,17,1,30,25,13,26,16,1,3,10,1
36,2023-24,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022300076,2023-10-26T00:00:00,LAL vs. PHX,W,35.000000,7,14,0.500,1,5,0.200,6,8,0.750,1,7,8,9,5,2,2,0,1,4,21,22,51.1,0,0,47.0,1,1,1,1,26,27,29,23,25,18,32,8,7,16,11,11,12,7,3,9,2,1,13,20,26,3,13,12,3,15,1
37,2023-24,2544,LeBron James,LeBron,1610612747,LAL,Los Angeles Lakers,0022300061,2023-10-24T00:00:00,LAL @ DEN,L,29.010000,10,16,0.625,1,4,0.250,0,1,0.000,1,7,8,5,0,1,0,1,1,1,21,7,41.1,0,0,37.0,1,20,20,20,31,14,26,7,25,25,29,36,35,36,11,11,12,32,37,14,17,18,13,33,26,12,26,12,3,28,1

In [12]:
all_gamelogs = []
for player_id in player_ids:
    dfs = []
    for season_id in season_list:
        #print("Now working on "+season_id+ " season")
        gamelog_url = "https://stats.nba.com/stats/playergamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=&Location=&MeasureType=&Month=&OpposingTeamID=&Outcome=&PORound=&PerMode=&Period=&PlayerID={}&Season={}&SeasonSegment=&SeasonType=&ShotClockRange=&TeamID=&VsConference=&VsDivision=".format(player_id, season_id)
        response = requests.get(url=gamelog_url, headers=headers).json()
        df = pd.DataFrame(response['resultSets'][0]['rowSet'], columns=response['resultSets'][0]["headers"])
        dfs.append(df)
    all_gamelog_df = pd.concat(dfs, sort=False)
    all_gamelogs.append(all_gamelog_df)
    print(len(all_gamelogs))

1

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

20
21
22
23
24
25
26
27
28
29
30
31
32

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

33
34
35
36
37
38
39
40
41
42
43

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

44
45

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

46

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

47
48
49
50

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

51
52
53
54
55
56
57
58

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

59
60
61

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

62
63
64
65
66

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

67
68
69

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

70
71
72
73

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

74
75
76
77
78

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

79
80
81

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

82

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

83
84
85
86
87

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

88

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

89
90
91

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

92

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

93
94

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

95
96
97

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

98
99
100
101
102
103

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

104

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

105
106
107
108
109
110
111
112
113
114
115
116

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

117
118
119

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

137
138
139
140
141

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

142
143
144
145

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

146

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

147
148
149

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

150
151
152
153

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

154

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

155
156
157

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

158
159
160

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

177
178
179
180
181
182
183
184
185
186

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

187
188
189
190
191

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

192
193
194
195

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

196

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

197
198
199
200

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

201

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

202
203
204
205
206

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

207

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

208
209
210
211
212

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

213
214
215
216
217
218
219
220
221
222

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

223
224
225

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

226
227

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

228
229

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

230

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

231
232
233
234
235
236
237

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

238
239

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

240
241
242
243
244
245
246
247
248
249
250
251
252
253
254

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

255
256

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

257
258
259
260
261
262
263
264
265
266
267

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

268
269
270
271
272

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

273
274

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

275
276
277

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

278
279

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

280
281
282
283
284
285
286

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

316
317

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

318

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

319

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

320
321
322
323
324
325
326
327
328
329
330
331
332
333

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

334
335
336
337
338
339

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

340
341
342
343
344
345
346
347
348
349

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

350
351
352
353
354
355
356
357
358

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

359
360
361
362
363
364
365
366

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

367

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

368

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

369
370

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

371
372
373
374

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

375
376
377
378
379
380
381
382
383
384
385

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

386
387
388
389
390
391

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

392
393
394
395
396
397
398
399
400
401

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

402
403
404
405
406
407
408
409

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

410

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

411
412
413
414
415

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

416

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

417

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

418
419
420

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

421
422
423
424
425

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

426
427
428
429
430

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

431
432
433
434
435

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

436

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

437
438
439
440
441
442
443
444

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

445
446
447
448
449

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

450
451
452
453
454
455
456
457
458
459
460

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

461

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

462
463

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

464
465
466
467

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

468
469
470
471

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

472
473
474

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

475
476
477
478
479
480

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

481
482
483
484
485
486
487
488

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

489
490

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

491

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

492
493

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

494
495
496
497
498
499

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

500
501
502
503
504

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

505

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

506
507
508
509
510
511
512
513
514
515
516
517
518
519
520

/tmp/ipykernel_1383/3688874020.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_gamelog_df = pd.concat(dfs, sort=False)

521
522
523
524
525
526
527
528
529
530
531

In [ ]:
all_gamelogs[200]

In [ ]:
import concurrent.futures
import requests
import pandas as pd
import time

def fetch_player_gamelogs(player_id, season_list):
    dfs = []
    for season_id in season_list:
        gamelog_url = "https://stats.nba.com/stats/playergamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=&Location=&MeasureType=&Month=&OpposingTeamID=&Outcome=&PORound=&PerMode=&Period=&PlayerID={}&Season={}&SeasonSegment=&SeasonType=&ShotClockRange=&TeamID=&VsConference=&VsDivision=".format(player_id, season_id)
        response = requests.get(url=gamelog_url, headers=headers).json()
        df = pd.DataFrame(response['resultSets'][0]['rowSet'], columns=response['resultSets'][0]["headers"])
        dfs.append(df)
        time.sleep(1)
    return pd.concat(dfs, sort=False)

all_gamelogs = []

with concurrent.futures.ThreadPoolExecutor() as executor:
    # Assuming you have the list of player IDs in 'player_ids'
    futures = {executor.submit(fetch_player_gamelogs, player_id, season_list): player_id for player_id in player_ids}

    for future in concurrent.futures.as_completed(futures):
        player_id = futures[future]
        try:
            gamelogs_df = future.result()
            all_gamelogs.append(gamelogs_df)
            print(f"Player ID {player_id} processed.")
        except Exception as e:
            print(f"Error fetching gamelogs for Player ID {player_id}: {e}")

# Now, 'all_gamelogs' contains the game logs for all players

In [ ]:
gamelog_url = "https://stats.nba.com/stats/playergamelogs?DateFrom=&DateTo=&GameSegment=&LastNGames=&LeagueID=&Location=&MeasureType=&Month=&OpposingTeamID=&Outcome=&PORound=&PerMode=&Period=&PlayerID=2544&Season=&SeasonSegment=&SeasonType=&ShotClockRange=&TeamID=&VsConference=&VsDivision="
response = requests.get(url=gamelog_url, headers=headers).json()
df = pd.DataFrame(response['resultSets'][0]['rowSet'], columns=response['resultSets'][0]["headers"])
#df

In [ ]:
df